<style>
  #startdate{
    float: left;
    width: 50%;
  } 
  #enddate{
    float: right;
    width: 50%;
  }

  #book-select2{
    width: 100%;
  }

  #icon1{
    transform: rotate(45deg);
  }

  #icon2{
    transform: rotate(135deg);
  }

</style>
<ion-view id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/yj9JyJxcQlarMVPg5udZ_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="book-form5" class="list">
      <label class="item item-input" id="book-select0" name="book-from">
        <i class="icon ion-plane placeholder-icon" id="icon1"></i>
        <input id="input-from" type="search" placeholder="From">
      </label>
      <label class="item item-input" id="book-select1" name="book-to">
        <i class="icon ion-plane placeholder-icon" id="icon2"></i>
        <input id="input-to" type="search" placeholder="To">
      </label>
      <ion-checkbox class="checkbox-square" id="book-checkbox1" onclick="toggle()">Round Trip</ion-checkbox>
      <div id="book-container1">
        <form id="book-form16" class="list">
          <div>
            <label class="item item-input" id="startdate" name="start">
              <input id="input-start" name="start" type="search" inputmode="none" placeholder="Start">
            </label>
            <label class="item item-input" id="enddate" name="end" style="display:none">
              <input id="input-end" name="end" type="search" inputmode="none" placeholder="End">
            </label>
          </div>
            <label class="item item-select" id="book-select2" name="book-passengers">
            <span class="input-label">Passengers</span>
            <select id="input-passengers">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </label>
        </form>
      </div>
    </form>
    <a onclick="save_input()" id="book-button1" class="button button-positive button-block">Search</a>
  </ion-content>
</ion-view>

<script>
    document.getElementById("input-from").value = localStorage.getItem("fillDestination");
    var roundtrip = false;

    function toggle(){
      $("#enddate").toggle();
      roundtrip = true;
    }

    $(function() {
      $('input[name="start"]').daterangepicker({
          singleDatePicker: true,
          autoUpdateInput: false,
          locale: {
              cancelLabel: 'Clear'
          }
      });

      $('input[name="start"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('MM/DD/YYYY'));
      });

      $('input[name="start"]').on('cancel.daterangepicker', function(ev, picker) {
          $(this).val('');
      });

      $('input[name="end"]').daterangepicker({
          singleDatePicker: true,
          autoUpdateInput: false,
          locale: {
              cancelLabel: 'Clear'
          }
      });

      $('input[name="end"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('MM/DD/YYYY'));
      });

      $('input[name="end"]').on('cancel.daterangepicker', function(ev, picker) {
          $(this).val('');
      });
    });

    // save input values to use in searchFlight.html
    function save_input() {
      var input_from = document.getElementById("input-from").value;
      var input_to = document.getElementById("input-to").value;
      var input_start = document.getElementById("input-start").value;
      var input_end = document.getElementById("input-end").value;
      var input_passengers = document.getElementById("input-passengers").value;
      if (input_from == "" || input_to == "") {
        alert("Please select departure and arrival destinations!");
      } else if (input_from === input_to) {
        alert("Departure and arrival destinations cannot be the same!");
      } else if (input_start === input_end || input_start === "" || (roundtrip && input_end === "")) {
        alert("Invalid date!");
      } else {
        localStorage['fly_from'] = input_from;
        localStorage['fly_to'] = input_to;
        localStorage['fly_passengers'] = input_passengers;
        localStorage['fly_start'] = input_start;
        localStorage['fly_end'] = input_end;
        window.location='index.html#/page6'
        window.location.reload();
      }
    }
</script>