<ion-view title="Criar Conta" id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/UMMpakspRaa182wQN8wj_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="criarConta-heading11" style="color:#000000;"></h3>
    <form id="criarConta-form14" class="list">
      <label class="item item-input" id="criarConta-input13">
        <input type="text" placeholder="Nome">
      </label>
      <label class="item item-input" id="criarConta-input14">
        <input type="text" placeholder="Apelido">
      </label>
      <label class="item item-input" id="criarConta-input19">
        <input type="number" placeholder="Telemóvel">
      </label>
      <label class="item item-input" id="criarConta-input15">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input" id="criarConta-input18">
        <input type="text" placeholder="Aeroporto Predefinido">
      </label>
    </form>
    <form id="criarConta-form15" class="list">
      <label class="item item-input" id="criarConta-input16">
        <input type="password" placeholder="Palavra-Passe">
      </label>
      <label class="item item-input" id="criarConta-input17">
        <input type="password" placeholder="Confirmar Palavra-Passe">
      </label>
      <button id="criarConta-button13" class="button button-positive button-block">Criar Conta</button>
      <button ui-sref="tabsController.login()" id="criarConta-button10" class="button button-stable button-block">Cancelar</button>
    </form>
  </ion-content>
</ion-view>