<ion-view id="page9">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/UMMpakspRaa182wQN8wj_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="criarConta-heading11" style="color:#000000;"></h3>
    <form id="criarConta-form14" class="list">
      <label class="item item-input" id="criarConta-input13">
        <input type="text" placeholder="Name" id="fname">
      </label>
      <label class="item item-input" id="criarConta-input14">
        <input type="text" placeholder="Last Name" id="lname">
      </label>
      <label class="item item-input" id="criarConta-input19">
        <input type="number" placeholder="Phone" id="phone">
      </label>
      <label class="item item-input" id="criarConta-input15">
        <input type="email" placeholder="Email" id="email">
      </label>
    </form>
    <form id="criarConta-form15" class="list">
      <label class="item item-input" id="criarConta-input16">
        <input type="password" placeholder="Password" id="password">
      </label>
      <label class="item item-input" id="criarConta-input17">
        <input type="password" placeholder="Confirm Password">
      </label>
      <button ui-sref="tabsController.login()" id="criarConta-button13" class="button button-positive button-block" onclick="register()">Create Account</button>
      <button ui-sref="tabsController.login()" id="criarConta-button10" class="button button-stable button-block">Cancel</button>
    </form>
  </ion-content>
</ion-view>

<script>
  function register() {
    localStorage['fname'] = document.getElementById("fname").value;
    localStorage['lname'] = document.getElementById("lname").value;
    localStorage['phone'] = document.getElementById("phone").value;
    localStorage['email'] = document.getElementById("email").value;
    localStorage['password'] = document.getElementById("password").value;
    alert("Registered successfully!");
  }
</script>