<ion-view title="Favorites" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="favorites-button-bar2" class="button-bar">
      <a ui-sref="tabsController.myFlights()" id="favorites-button11" class="button button-stable button-small button-block">Visited</a>
      <button id="favorites-button12" class="button button-stable button-small button-block">Favorites</button>
    </div>
    <ion-list id="favorites-list4">
      <ion-item class="item-thumbnail-left" id="favorites-list-item10" ui-sref="tabsController.book()">
        <img src="img/a98arhS32mJso5ivgWuQ_paris.png">
        <h2>Paris, France</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="favorites-list-item11" ui-sref="tabsController.book()">
        <img src="img/t4XUprvSCS4CnwJHcxS6_spain.jpg">
        <h2>Madrid, Spain</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="favorites-list-item12" ui-sref="tabsController.book()">
        <img src="img/ezuEFpNZSHyYVhCa9l9u_poland.webp">
        <h2>Warsaw, Poland</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>