<style>
#icon{
  font-size: 35px; 
  color: red; 
  position: relative;
  float: right; 
}

#thumbnail{
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

#thumbnail:hover{
  opacity: 0.7;
}

#buy-button{
    position: relative;
    float: right;
    top: 8px;
    background-color: #007aff;
    border: 2px solid #007aff;
    border-radius: 8%;
    color: white;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #buy-button:hover{
    background-color: white;
    border: 2px solid #007aff;
    color: black;
  }

</style>
<ion-view id="page7">
  <ion-content padding="true" class="has-header">
    <div id="favorites-button-bar2" class="button-bar">
      <a ui-sref="tabsController.myFlights()" id="favorites-button11" class="button button-stable button-small button-block">Visited</a>
      <button id="favorites-button12" class="button button-stable button-small button-block">Favorites</button>
    </div>
    <ion-list id="favorites-list4">
      <ion-item class="item-thumbnail-left" id="favorites-list-item10">
          <img id="thumbnail" src="img/HutWGo5IRCupJxmDu4dv_madeira.jpeg">
          <i id="icon" class="icon ion-ios-heart" onclick="confirmation('favorites-list-item10')"></i>
        <h3>From: Lisbon, Portugal</h3>
        <h3>To: Madrid, Spain</h3>
        <button id="buy-button" onclick="visitPage('Lisbon, Portugal', 'Madrid, Spain');">Buy</button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="favorites-list-item11">
        <img id="thumbnail" src="img/HutWGo5IRCupJxmDu4dv_madeira.jpeg">
        <i id="icon" class="ion-ios-heart" onclick="confirmation('favorites-list-item11')"></i>
        <h3>From: Lisbon, Portugal</h3>
        <h3>To: Lisse, Holland</h3>
        <button id="buy-button" onclick="visitPage('Lisbon, Portugal', 'Lisse, Holland');">Buy</button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="favorites-list-item12">
        <img id="thumbnail" src="img/HutWGo5IRCupJxmDu4dv_madeira.jpeg">
        <i id="icon" class="ion-ios-heart" onclick="confirmation('favorites-list-item12')"></i>
        <h3>From: Lisbon, Portugal</h3>
        <h3>To: Rome, Italy</h3>
        <button id="buy-button" onclick="visitPage('Lisbon, Portugal', 'Rome, Italy');">Buy</button>
      </ion-item>
    </ion-list>
  </ion-content>  
</ion-view>
<script>
function confirmation(id){
    var result = confirm("Remove from favorites?");
    if(result){
      document.getElementById(id).style.display = 'none';
      return true;
    } else{
      return false;
    }
}

function visitPage(from, to){
  localStorage["fillDestination"] = from;
  localStorage["fillDestination2"] = to;
  window.location='index.html#/page1';
  window.location.reload();
  }
</script>