<style>
  #img-perfil{
    display: block; 
    width: 40%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
  }

  .span-item{
    color: gray; 
    display: inline-block; 
    float: right; 
    font-size: 14px;
  }

  .input-right {
    float: right;
    height:1px;
  }

  #span-airport{
    display: flex;
    justify-content: center;
    align-items: center;       
    }

  #airport{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 2px -2px lightgray;
    width: 135px;
    }  
</style>

<ion-view id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img id = "img-perfil" src="img/perfil2.jpg">
    </div>
    <h4 id="profile-heading7" style="color:#000000;">My Information</h4>
    <form id="profile-form9" class="list">
      <ion-item id="profile-list-item29">
        <span>First Name</span>
        <span class="span-item" id="fname"></span>
      </ion-item>
      <ion-item id="profile-list-item30">
        <span>Last Name</span>
        <span class="span-item" id="lname"></span>
      </ion-item>
      <ion-item id="profile-list-item31">
        <span>Default Airport</span>
        <span class="input-right" id="span-airport">
          <input type="text" name="name" id="airport" placeholder="" size="4"/>
        </span>
      </ion-item>
    </form>
    <h4 id="profile-heading8" style="color:#000000;">My Account</h4>
    <form id="profile-form8" class="list">
      <ion-toggle toggle-class="toggle-positive" id="profile-toggle2">Notifications</ion-toggle>
      <ion-item id="email">Email<span class="span-item">admin@ua.pt</span></ion-item>
      <ion-item class="item-icon-right" id="profile-list-item27" ui-sref="tabsController.alterarPalavraPasse()">Change Password
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item id="profile-list-item28" ui-sref="tabsController.login()">Log Out</ion-item>
    </form>
    <a ui-sref="tabsController.criarConta()" id="profile-button7" style="color:#FF0019;" class="button button-stable button-block">Eliminar Conta</a>
    <h4 id="profile-heading10" style="color:#000000;">Payment Method</h4>
    <form id="profile-form11" class="list">
      <ion-item id="profile-list-item33">Cardholder<span class="span-item">Pedro Monteiro</span></ion-item>
      <ion-item id="profile-list-item34">Card Number<span class="span-item">**** **** **** 5678</span></ion-item>
      <ion-item id="profile-list-item35">Validity<span class="span-item">09/21</span></ion-item>
      <ion-item id="profile-list-item36">Security Code<span class="span-item">***</span></ion-item>
    </form>
  </ion-content>
</ion-view>