<style>
  #searchFlight-list-item19{
    float: left;
    width: 50%;
  }

  #searchFlight-list-item20{
    float: right;
    width: 50%;
  }

  #searchFlight-list-item37{
    float: left;
    width: 50%;
  }

  #searchFlight-list-item38{
    float: right;
    width: 50%;
  }

  #searchFlight-list-item39{
    float: left;
    width: 30%;
  }
  #searchFlight-select7{
    float:right;
    width: 70%;
    height: 54px;
    vertical-align: auto;
  }

  #_label-0{
    padding: 0px;
    width: 22px;
    margin: 0px;
  }

  #searchFlight-list-item45{
    margin-top: 165px;
  }

  #logo0{
    width: 30%;
    height: auto;
  }

  #logo{
    position: absolute;
    vertical-align: auto;

    width: 30%;
    height: auto;
  }

  #logo2{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30%;
    height: auto;
  }

  #logo3{
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30%;
    height: auto;
  }

  #price{
    position: absolute;
    left: 50px;
  }

  .flightt{
    float: left;
    left:5px;
    width: 75px; 
    border-right: 2px solid black;
    text-align: center;  
  }

  .flightt2{
    float: left;
    width:90px;
    margin-left: 5px;
    text-align: center;
  }

  .details-button{
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: #007aff;
    border: 2px solid #007aff;
    border-radius: 8%;
    color: white;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#details-button-modal{
  position: relative;
  float: left;
  top: -15px;
  background-color: #007aff;
  border: 2px solid #007aff;
  border-radius: 8%;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#favorite-button-modal{
  position: relative;
  float: left;
  top: -15px;
  background-color: rgb(201, 61, 61);
  border: 2px solid rgb(201, 61, 61);
  border-radius: 8%;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#icon1{
    transform: rotate(45deg);
  }

  #icon2{
    transform: rotate(135deg);
  }
</style>

<ion-view id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="searchFlight-list6">
      <ion-item class="item-icon-left" id="searchFlight-list-item19">
        <i class="icon ion-android-plane" id="icon1"></i> </ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item20">
        <i class="icon ion-android-plane" id="icon2"></i> </ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item37">
        <i class="icon ion-android-calendar"></i>27/05/20221</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item38">
        <i class="icon ion-android-calendar"></i>15/06/2021</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item39">
        <i class="icon ion-person-stalker"></i> </ion-item>
      <label class="item item-select" id="searchFlight-select7">
        <span class="input-label">Sort</span>
        <select>
          <option>Best Match</option>
          <option>A-Z</option>
          <option>Z-A</option>
          <option>Price</option>
        </select>
      </label>
      <ion-item class="item-thumbnail-right" id="searchFlight-list-item41">
        <img id="logo" src="img/sata.png">
        <button class="details-button" onclick="updateModal(1)">Details</button>
        <div class="flightt" >
          <h2>GO</h2>
          <p id="go1" class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p id="return1" class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 id="price1" class="price"></h3>
        </div>
        <div class="flightt2">
          <h2>RETURN</h2>
          <p class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 class="price"></h3>
        </div>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="searchFlight-list-item42">
        <img id="logo2" src="img/Transavia_logo.svg.png">
        <div class="flightt" >
          <h2>GO</h2>
          <p id="go2" class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p id="return2" class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 id="price2" class="price"></h3>
        </div>
        <div class="flightt2">
          <h2>RETURN</h2>
          <p class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 class="price"></h3>
        </div>
        <button class="details-button" onclick="updateModal(2)">Details</button>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="searchFlight-list-item43">
        <img id="logo3" src="img/tap.png">
        <div class="flightt" >
          <h2>GO</h2>
          <p id="go3" class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p id="return3" class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 id="price3" class="price"></h3>
        </div>
        <div class="flightt2">
          <h2>RETURN</h2>
          <p class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 class="price"></h3>
        </div>
        <button class="details-button" onclick="updateModal(3)">Details</button>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="searchFlight-list-item44">
        <img id="logo" src="img/easy.png">
        <div class="flightt" >
          <h2>GO</h2>
          <p id="go4" class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p id="return4" class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 id="price4" class="price"></h3>
        </div>
        <div class="flightt2">
          <h2>RETURN</h2>
          <p class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 class="price"></h3>
        </div>
        <button class="details-button" onclick="updateModal(4)">Details</button>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="searchFlight-list-item45">
        <img id="logo" src="img/easy.png">
        <div class="flightt" >
          <h2>GO</h2>
          <p id="go5" class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p id="return5" class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 id="price5" class="price"></h3>
        </div>
        <div class="flightt2">
          <h2>RETURN</h2>
          <p class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 class="price"></h3>
        </div>
        <button class="details-button" onclick="updateModal(5)">Details</button>
      </ion-item>
      <ion-item class="item-thumbnail-right" id="searchFlight-list-item46">
        <img id="logo" src="img/vuelling.png">
        <div class="flightt" >
          <h2>GO</h2>
          <p id="go6" class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p id="return6" class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 id="price6" class="price"></h3>
        </div>
        <div class="flightt2">
          <h2>RETURN</h2>
          <p class="go-times"><i class="icon ion-arrow-up-c"></i></p>
          <p class="return-times"><i class="icon ion-arrow-down-c"></i></p>
          <h3 class="price"></h3>
        </div>
        <button class="details-button" onclick="updateModal(6)">Details</button>
        <button id="details-button" style="display: none;">Details</button>
      </ion-item>
    </ion-list>
    <button ui-sref="tabsController.book()" onclick="visitPage();" id="button-back" class="button button-stable button-block">Back</button>
  </ion-content>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <img id="logo0" src="img/sata.png">
      <p></p>
      <p id="modal_from">From: </p>
      <p >Airport: Humberto Delgado</p>
      <p id="modal_to">To: </p>
      <p >Airport: Santa Maria</p>
      <p id="modal_airline">Airline: </p>
      <p id="modal_go">Departure: </p>
      <p id="modal_return">Arrival: </p>
      <p id="modal_price">Price: </p>
      <p id="modal_seats">Available seats: </p>
      <hr>
      <button id="details-button-modal">Buy</button>
      <button id="favorite-button-modal">Add to Favorites</button>
    </div>
  </div>
</ion-view>
<script>  
    function visitPage(){
        window.location='index.html#/page1';
    }

    function randomNumber(min, max) {  
      return Math.floor(Math.random() * (max - min) + min); 
    }

    function pad(num, size) {
      num = num.toString();
      while (num.length < size) num = "0" + num;
      return num;
    }

    function updateModal(i) {
      document.getElementById("modal_from").innerHTML ="From: "+document.getElementById("searchFlight-list-item19").innerHTML.split("> ")[1];
      document.getElementById("modal_to").innerHTML ="To: "+document.getElementById("searchFlight-list-item20").innerHTML.split("> ")[1];
      
      switch(i) {
        case 1:
          document.getElementById("logo0").src = "img/sata.png"
          document.getElementById("modal_airline").innerHTML = "Airline: SATA";
          document.getElementById("modal_go").innerHTML = "Departure: " + document.getElementById("go1").innerHTML;
          document.getElementById("modal_return").innerHTML = "Arrival: " +  document.getElementById("return1").innerHTML;
          document.getElementById("modal_price").innerHTML = "Price: " +  document.getElementById("price1").innerHTML;
          document.getElementById("modal_seats").innerHTML = "Available seats: " + seats[0];
          break;
        case 2:
          document.getElementById("logo0").src = "img/Transavia_logo.svg.png"
          document.getElementById("modal_airline").innerHTML = "Airline: TRANSAVIA";
          document.getElementById("modal_go").innerHTML = "Departure: " + document.getElementById("go2").innerHTML;
          document.getElementById("modal_return").innerHTML = "Arrival: " +  document.getElementById("return2").innerHTML;
          document.getElementById("modal_price").innerHTML = "Price: " +  document.getElementById("price2").innerHTML;
          document.getElementById("modal_seats").innerHTML = "Available seats: " + seats[1];
          break;
        case 3:
          document.getElementById("logo0").src = "img/tap.png"
          document.getElementById("modal_airline").innerHTML = "Airline: TAP";
          document.getElementById("modal_go").innerHTML = "Departure: " + document.getElementById("go3").innerHTML;
          document.getElementById("modal_return").innerHTML = "Arrival: " +  document.getElementById("return3").innerHTML;
          document.getElementById("modal_price").innerHTML = "Price: " +  document.getElementById("price3").innerHTML;
          document.getElementById("modal_seats").innerHTML = "Available seats: " + seats[2];
          break;
        case 4:
          document.getElementById("logo0").src = "img/easy.png"
          document.getElementById("modal_airline").innerHTML = "Airline: EASYJET";
          document.getElementById("modal_go").innerHTML = "Departure: " + document.getElementById("go4").innerHTML;
          document.getElementById("modal_return").innerHTML = "Arrival: " +  document.getElementById("return4").innerHTML;
          document.getElementById("modal_price").innerHTML = "Price: " +  document.getElementById("price4").innerHTML;
          document.getElementById("modal_seats").innerHTML = "Available seats: " + seats[3];
          break;
        case 5:
          document.getElementById("logo0").src = "img/easy.png"
          document.getElementById("modal_airline").innerHTML = "Airline: EASYJET";
          document.getElementById("modal_go").innerHTML = "Departure: " + document.getElementById("go5").innerHTML;
          document.getElementById("modal_return").innerHTML = "Arrival: " +  document.getElementById("return5").innerHTML;
          document.getElementById("modal_price").innerHTML = "Price: " +  document.getElementById("price5").innerHTML;
          document.getElementById("modal_seats").innerHTML = "Available seats: " + seats[4];
          break;
        case 6:
          document.getElementById("logo0").src = "img/vuelling.png"
          document.getElementById("modal_airline").innerHTML = "Airline: VUELING";
          document.getElementById("modal_go").innerHTML = "Departure: " + document.getElementById("go6").innerHTML;
          document.getElementById("modal_return").innerHTML = "Arrival: " +  document.getElementById("return6").innerHTML;
          document.getElementById("modal_price").innerHTML = "Price: " +  document.getElementById("price6").innerHTML;
          document.getElementById("modal_seats").innerHTML = "Available seats: " + seats[5];
          break;
      }
    }

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("details-button");

    var classname = document.getElementsByClassName("details-button");

    var showModal = function() {
        modal.style.display = "block";
    };

    for (var i = 0; i < classname.length; i++) {
        classname[i].addEventListener('click', showModal, false);
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    //change fly-from e fly-to countries text
    document.getElementById("searchFlight-list-item19").innerHTML += localStorage.getItem('fly_from').charAt(0).toUpperCase() + localStorage.getItem('fly_from').substring(1).toLowerCase();
    document.getElementById("searchFlight-list-item20").innerHTML += localStorage.getItem('fly_to').charAt(0).toUpperCase() + localStorage.getItem('fly_to').substring(1).toLowerCase();
    document.getElementById("searchFlight-list-item39").innerHTML += localStorage.getItem('fly_passengers');

    // generate random prices
    var text = document.querySelectorAll(".price");
    text.forEach(element => element.innerHTML += randomNumber(40, 99)+'€');

    //generate random hours
    minutes = ["00","15","30","45"];
    go_times = [];
    return_times = [];
    //go hours
    text = document.querySelectorAll(".go-times");
    for (var i = 0; i < text.length; i++) {
      var rand = randomNumber(0, 14);
      var rnd = ` ${pad(rand,2)}:${minutes[Math.floor(Math.random() * minutes.length)]}h`
      go_times.push(rand);
      text[i].innerHTML += rnd;
    }
    
    //return hours
    text = document.querySelectorAll(".return-times");
    for (var i = 0; i < text.length; i++) {
      var rnd = ` ${pad(randomNumber(go_times[i], 23),2)}:${minutes[Math.floor(Math.random() * minutes.length)]}h`
      text[i].innerHTML += rnd;
    }

    //update modal
    seats = [];
    for (var j = 0; j < 6; j++) {
      seats.push(randomNumber(parseInt(localStorage.getItem('fly_passengers')), 35));
    };

    //change random results to display (from 1 to 6)
    var rnd_id;
    results = ["searchFlight-list-item41", "searchFlight-list-item42", "searchFlight-list-item43", "searchFlight-list-item44","searchFlight-list-item45", "searchFlight-list-item46"]
    var rng = randomNumber(2, 5);
        
    for (var i = 0; i < rng; i++) {
      document.getElementById(results.pop()).remove();
    }
</script>