<ion-view id="page3">
  <ion-content padding="true" class="has-header">
    <form id="searchAndExplore-form1" class="list">
      <label class="item item-input" id="searchAndExplore-search1" name="search-locations">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Discover your next destination">
      </label>
    </form>
    <h5 id="searchAndExplore-heading1" style="color:#000000;">Recommended</h5>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="searchAndExplore-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="searchAndExplore-slide24" style="border-radius: 10%; background:url(&quot;img/CtMaCYVfSjidRxFR5gwk_barbados-medium.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="searchAndExplore-slide25" style="border-radius: 10%; background:url(&quot;img/EOjXtTybQ2aqtjZQ9sKw_wheel.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="searchAndExplore-slide26" style="border-radius: 10%; background:url(&quot;img/hGGxfM4QNmRlDNAibvAg_holland.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h5 id="searchAndExplore-heading3" style="color:#000000;">Popular</h5>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="searchAndExplore-slider3" style="width:100%;height:200px;">
      <ion-slide-page id="searchAndExplore-slide216" style="border-radius: 10%; background:url(&quot;img/hgp0j160Rfi4rQANTkb9_greece.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="searchAndExplore-slide217" style="border-radius: 10%; background:url(&quot;img/FVvB1FFxS8OfhZ4tKfQ9_paris.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="searchAndExplore-slide218" style="border-radius: 10%; background:url(&quot;img/Q6b91FYQYepfqNXu0kvX_italy.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h5 id="searchAndExplore-heading5" style="color:#000000;">Economic</h5>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="searchAndExplore-slider4" style="width:100%;height:200px;">
      <ion-slide-page id="searchAndExplore-slide219" style="border-radius: 10%; background:url(&quot;img/PuTB10cISVujoe5rjyM0_portugal.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="searchAndExplore-slide220" style="border-radius: 10%; background:url(&quot;img/PJgZ20McRhyPUpDaUTSk_poland.webp&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="searchAndExplore-slide221" style="border-radius: 10%; background:url(&quot;img/iCA0qe3TcO8lSUk6fAZg_spain.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h5 id="searchAndExplore-heading6" style="color:#000000;">Close to you</h5>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider6" delegate-handle="slider6" id="searchAndExplore-slider6" style="width:100%;height:200px;">
      <ion-slide-page id="searchAndExplore-slide225" style="border-radius: 10%; background:url(&quot;img/rwjHUEsT2ar7uK1AsFvg_azores.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="searchAndExplore-slide226" style="border-radius: 10%; background:url(&quot;img/CDdwEbJKTMuJUfidoP3c_madeira.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="searchAndExplore-slide227" style="border-radius: 10%; background:url(&quot;img/ZW64yot4TuuJO1W0IE4Q_spain.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>