<ion-view title="Search Flight" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="searchFlight-list6">
      <ion-item class="item-icon-left" id="searchFlight-list-item19">
        <i class="icon ion-android-plane"></i>Albania</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item20">
        <i class="icon ion-android-plane"></i>Spain</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item37">
        <i class="icon ion-android-calendar"></i>11/11/1111</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item38">
        <i class="icon ion-android-calendar"></i>22/22/2222</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item39">
        <i class="icon ion-person-stalker"></i>2</ion-item>
      <label class="item item-select" id="searchFlight-select7">
        <span class="input-label">Sort</span>
        <select>
          <option>Best Match</option>
          <option>A-Z</option>
          <option>Z-A</option>
          <option>Price</option>
        </select>
      </label>
      <ion-item class="item-thumbnail-left" id="searchFlight-list-item45" ui-sref="tabsController.book_tab1()">
        <img src="img/n9LsnCDREWZqcnFe8ViW_TAP_Portugal_Logo.svg.png">
        <h2>Madeira, Portugal</h2>
        <p>Lisbon, Portugal</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="searchFlight-list-item46" ui-sref="tabsController.book_tab1()">
        <img src="img/n9LsnCDREWZqcnFe8ViW_TAP_Portugal_Logo.svg.png">
        <h2>Madeira, Portugal</h2>
        <p>Lisbon, Portugal</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>