<style>
  #searchFlight-list-item19{
    float: left;
    width: 50%;
  }

  #searchFlight-list-item20{
    float: right;
    width: 50%;
  }

  #searchFlight-list-item37{
    float: left;
    width: 50%;
  }

  #searchFlight-list-item38{
    float: right;
    width: 50%;
  }

  #logo{
    width: 30%;
    height: auto;
  }

  #details-button{
    position: relative;
    float: right;
    top: 8px;
    background-color: #007aff;
    border: 2px solid #007aff;
    border-radius: 8%;
    color: white;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  #details-button:hover{
    background-color: white;
    border: 2px solid #007aff;
    color: black;
  }

  .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#details-button-modal{
  position: relative;
  float: left;
  top: -15px;
  background-color: #007aff;
  border: 2px solid #007aff;
  border-radius: 8%;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#favorite-button-modal{
  position: relative;
  float: left;
  top: -15px;
  background-color: rgb(201, 61, 61);
  border: 2px solid rgb(201, 61, 61);
  border-radius: 8%;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
</style>

<ion-view id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="searchFlight-list6">
      <ion-item class="item-icon-left" id="searchFlight-list-item19">
        <i class="icon ion-android-plane"></i>Albania</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item20">
        <i class="icon ion-android-plane"></i>Spain</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item37">
        <i class="icon ion-android-calendar"></i>11/11/1111</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item38">
        <i class="icon ion-android-calendar"></i>22/22/2222</ion-item>
      <ion-item class="item-icon-left" id="searchFlight-list-item39">
        <i class="icon ion-person-stalker"></i>2</ion-item>
      <label class="item item-select" id="searchFlight-select7">
        <span class="input-label">Sort</span>
        <select>
          <option>Best Match</option>
          <option>A-Z</option>
          <option>Z-A</option>
          <option>Price</option>
        </select>
      </label>
      <ion-item class="item-thumbnail-left" id="searchFlight-list-item45">
        <img id="logo" src="img/sata.png">
        <h2>Madeira, Portugal</h2>
        <p>Lisbon, Portugal</p>
        <button id="details-button">Details</button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="searchFlight-list-item46">
        <img id="logo" src="img/Transavia_logo.svg.png">
        <h2>Madeira, Portugal</h2>
        <p>Lisbon, Portugal</p>
        <button id="details-button">Details</button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="searchFlight-list-item46">
        <img id="logo" src="img/tap.png">
        <h2>Madeira, Portugal</h2>
        <p>Lisbon, Portugal</p>
        <button id="details-button">Details</button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="searchFlight-list-item46">
        <img id="logo" src="img/easy.png">
        <h2>Madeira, Portugal</h2>
        <p>Lisbon, Portugal</p>
        <button id="details-button">Details</button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="searchFlight-list-item46">
        <img id="logo" src="img/vuelling.png">
        <h2>Madeira, Portugal</h2>
        <p>Lisbon, Portugal</p>


        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <img id="logo" src="img/sata.png">
            <p></p>
            <p>From: Madeira, Portugal</p>
            <p>To: Lisbon, Portugal</p>
            <p>Airline: SATA</p>
            <p>Departure: hh-mm</p>
            <p>Arrival: hh-mm</p>
            <p>Price: 40€</p>
            <hr>
            <button id="details-button-modal">Buy</button>
            <button id="favorite-button-modal">Add to Favorites</button>
          </div>
        </div>
        <button id="details-button">Details</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
<script>  

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("details-button");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>