body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav {
  position: fixed;
  display: block;
  background-color: #f6f9ff;
  padding: 1vh;
  border-radius: 0vh;
  transform: scale(1.8);
  overflow: hidden;
  bottom: 3vh;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #53588b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
  text-align: center;
  display: inline-block;
  width: 6.5vh;
  padding: 1.5vh;
  box-sizing: border-box;
  z-index: 2;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

nav a b {
  position: relative;
  top: 0vh;
  transition: 0.3s ease top;
}

nav a i {
  position: relative;
  left: 0vh;
  transition: 0.3s ease left;
}

nav span {
  position: absolute;
  width: 8vh;
  background-color: #e5eeff;
  top: 1.3vh;
  bottom: 1.3vh;
  left: 0.5vh;
  border-radius: 2vh;
  z-index: 1;
  transition: 0.3s ease left;
}